h1{
  color:white;
  font-family: Times New Roman;
 
}
p{
 font-family: Times New Roman;
 color:white

}

h3{
  color:white;
  font-family: Times New Roman;
 
}

body {
   background-image: url("bg.jpg");

}

