<html>
<head>
<style>
table, th, td {
    border: 1px solid black;
    border-color:white;
    color:white;
    
}

th,td{
   font-size:150%;
}
</style>
</head>
<body>
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
<form action="{{ url_for('confirm_order') }}" method="post">
<center><h1>SJSU STUDENT CENTER PURCHASE</h1></center>
<center>
<br>
<br>
<br>
 <table>
  <tr>
    <th>Article</th>
    <th>Cost</th>
    <th>Quantity</th>
    <th>Total</th>
  </tr>
  <tr>
    <td>Laptop</td>
    <td>$800</td>
    <td>{{ laptopq }}<br></td>
    <td>{{ laptopt }}<br></td>
  </tr>
  <tr>
    <td>Bag</td>
    <td>$50</td>
    <td>{{ bagq }}<br></td>
    <td>{{ bagt }}<br></td>
  </tr>
  <tr>
    <td>Book</td>
    <td>$5</td>
    <td>{{ bookq }}<br></td>
    <td>{{ bookt }}<br></td>
  </tr>
   <tr>
    <td>Pen</td>
    <td>$1</td>
    <td>{{ penq}}<br></td>
    <td>{{ pent}}<br></td>
  </tr>
</table>
    <h3 style="color:white"> Total Amount ={{ amount}}</h3><br>
    <input name="Back" type ="submit" value="Back"><input name="Confirm"type ="submit" value="Confirm">
  </center>
</form> 
</body>
</html>
